<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/Task05/Task05_2/tests" />
        <option value="$PROJECT_DIR$/Task05/Task05_1/tests" />
      </list>
    </option>
  </component>
</project>